<div class="jumbotron">
  <h1>Welkome to Probook!</h1>
  <p>...</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>

<h2>Here can you chat and share pictures with your friends.</h2>
<p></p>
<h4> made by Bror </h4>