<div class="jumbotron">
<center><h1 class="animated rubberBand">Welkome to Probook!</h1></center>
  <center><p><img style="max-width: 250px;max height: 200px" src="http://www.fbtimepass.com/uploadedimages/aaaa_The_face_book.jpg"></p></center>
  <center><p><a class="btn btn-primary btn-lg" href="#" role="button">Log in</a></p></center>
</div>

<center><h2 class="animated flash">Here can you chat and share pictures with your friends.</h2></center>
<p></p>
<h4 class="animated infinite tada"><h4> made by Bror </h4>